/* Variables
============================================================ */
$primary-color: #000;
$secondary-color: #fff;
$third-color: #242424;
$fourth-color: #ABABAB;
$fifth-color: #2994ff;

$max-width: 800px;

$text-big: 2.25rem;
$text-medium: 1.5rem;
$text-regular: 1.125rem;
$text: 1rem;

$break-one: 512px;




/* Modifiers
============================================================ */
.center {
    text-align: center;
}
.cool {
  background: rebeccapurple;
}




/* General
============================================================ */
body {
    margin: 0;
    background: $primary-color;
    color: $secondary-color;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    &.light {
        background: $secondary-color;
        color: $primary-color;
    }
}




/* Headings
============================================================ */
h1,
h2,
h3 {
    margin: 0 0 1em 0;
}

h1 {
    font-size: $text-big;
}

h2 {
    font-size: $text-medium;
}

h3 {
    font-size: $text-medium;
    font-weight: 500;
}




/* Links
============================================================ */
a {
    color: $fifth-color;
    text-decoration: none;

    &.light {
        color: $primary-color;
    }

    &:hover,
    &:focus {
        color: $fifth-color;
        transition: all .25s;
    }

    &.button {
        padding: 0.7em 1.25em;
        border-radius: 7px;
        background: $third-color;
    }
}




/* Text
============================================================ */
p,
ul li,
ol li {
    line-height: 2rem;
}

time {
    color: $fourth-color;
    font-style: italic;
}




/* Header
============================================================ */
.site-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: $max-width;
    margin: 0 auto;
    padding: 3em 1em;
    border-bottom: 1px solid $third-color;

    @media (min-width: 640px) {
        flex-direction: row;
    }

    .site-logo {
        margin-bottom: 1em;
        font-size: $text-big;
        font-weight: bold;
        text-align: center;

        .logo {
            margin: 0;
        }

        @media (min-width: 640px) {
            margin: 0;
            flex: 0 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        a {
            color: $secondary-color;
        }
    }

    .site-nav {
        @media (min-width: $break-one) {
            flex: 0 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 0 0.2em 0;
        }

        ul {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;
            list-style: none;

            @media (min-width: 640px) {
                justify-content: space-between;
            }

            li {
                @media (min-width: 640px) {
                    flex: 0 0 auto;

                    &+li {
                        margin-left: 1em;
                    }
                }

                a {
                    background: transparent;
                    padding: 0.7em 1.25em;
                    border-radius: 7px;
                    color: $secondary-color;
                    text-transform: lowercase;

                    &:hover,
                    &:focus {
                        background: $third-color;
                        transition: all .25s;
                    }
                }
            }
        }
    }
}




/* Main
============================================================ */
main {
    max-width: $max-width;
    margin: 0 auto;
    padding: 3em 1em;
    font-size: $text-regular;
    
    a {
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}




/* Footer
============================================================ */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: $max-width;
    margin: 0 auto;
    padding: 3em 1em;
    font-size: $text-regular;
    border-top: 1px solid $third-color;

    @media (min-width: $break-one) {
        flex-direction: row;
    }
}

.copyright {
    margin: 0;
    text-align: center;
    line-height: 2.25rem;
}

.social {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

    li {
        display: inline-block;

        a {
            padding: 0 0.2em;
            font-size: $text-big;
            color: $fourth-color;

            &:hover,
            &:focus {
                color: $fifth-color;
            }
        }
    }
}




/* Post Items
============================================================ */
.post-item {
    margin: 0 0 1em 0;

    &:last-child {
        margin: 0;
    }

    h3 {
        margin: 0;
    }
}




/* Post Meta
============================================================ */
.post-meta {
    p {
        margin: 0;
        font-size: $text;
        color: $fourth-color;
    }
}




/* Posts
============================================================ */
.post {
    p {
        margin: 0 0 1.75em 0;
        line-height: 2rem;
    }

    * {
        &:last-child {
            margin-bottom: 0;
        }
    }
}




/* Wordpress Block Images
============================================================ */
.wp-block-image {
    margin: 1em 0;
    text-align: center;

    img {
        height: 100%;
    }
}




/* Accordions
============================================================ */
.content-accordion {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.25em;
    margin: 3em auto 0 auto;
}

.accordion-title {
    margin: 0;
    font-size: 1.5rem;
    line-height: 2rem;

    a {
        background: $fifth-color;
        display: block;
        padding: 0.75em 3em 0.75em 1em;
        position: relative;
        text-decoration: none;
        color: #fff;

        &:hover,
        &:focus {
            text-decoration: none;
        }

        &:after {
            content: "\f0fe";
            display: inline-block;
            position: absolute;
            right: 1.5%;
            transform: translateY(-50%);
            top: 50%;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 2rem;
            color: #fff;
        }

        &.expanded:after {
            content: '\f146';
        }
    }
}

.accordion-content {
    display: none;
    padding: 1em;

    &.show {
        display: block;
    }

    p {
        code {
            color: #7ec699;
        }
    }
}
