/* Variables
============================================================ */
/* Modifiers
============================================================ */
.center {
  text-align: center;
}

.cool {
  background: rebeccapurple;
}

/* General
============================================================ */
body {
  margin: 0;
  background: #000;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

body.light {
  background: #fff;
  color: #000;
}

/* Headings
============================================================ */
h1,
h2,
h3 {
  margin: 0 0 1em 0;
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

/* Links
============================================================ */
a {
  color: #2994ff;
  text-decoration: none;
}

a.light {
  color: #000;
}

a:hover, a:focus {
  color: #2994ff;
  -webkit-transition: all .25s;
  transition: all .25s;
}

a.button {
  padding: 0.7em 1.25em;
  border-radius: 7px;
  background: #242424;
}

/* Text
============================================================ */
p,
ul li,
ol li {
  line-height: 2rem;
}

time {
  color: #ABABAB;
  font-style: italic;
}

/* Header
============================================================ */
.site-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  padding: 3em 1em;
  border-bottom: 1px solid #242424;
}

@media (min-width: 640px) {
  .site-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.site-header .site-logo {
  margin-bottom: 1em;
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
}

.site-header .site-logo .logo {
  margin: 0;
}

@media (min-width: 640px) {
  .site-header .site-logo {
    margin: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.site-header .site-logo a {
  color: #fff;
}

@media (min-width: 512px) {
  .site-header .site-nav {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 0.2em 0;
  }
}

.site-header .site-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: 640px) {
  .site-header .site-nav ul {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 640px) {
  .site-header .site-nav ul li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .site-header .site-nav ul li + li {
    margin-left: 1em;
  }
}

.site-header .site-nav ul li a {
  background: transparent;
  padding: 0.7em 1.25em;
  border-radius: 7px;
  color: #fff;
  text-transform: lowercase;
}

.site-header .site-nav ul li a:hover, .site-header .site-nav ul li a:focus {
  background: #242424;
  -webkit-transition: all .25s;
  transition: all .25s;
}

/* Main
============================================================ */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 3em 1em;
  font-size: 1.125rem;
}

main a:hover, main a:focus {
  text-decoration: underline;
}

/* Footer
============================================================ */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  padding: 3em 1em;
  font-size: 1.125rem;
  border-top: 1px solid #242424;
}

@media (min-width: 512px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.copyright {
  margin: 0;
  text-align: center;
  line-height: 2.25rem;
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.social li {
  display: inline-block;
}

.social li a {
  padding: 0 0.2em;
  font-size: 2.25rem;
  color: #ABABAB;
}

.social li a:hover, .social li a:focus {
  color: #2994ff;
}

/* Post Items
============================================================ */
.post-item {
  margin: 0 0 1em 0;
}

.post-item:last-child {
  margin: 0;
}

.post-item h3 {
  margin: 0;
}

/* Post Meta
============================================================ */
.post-meta p {
  margin: 0;
  font-size: 1rem;
  color: #ABABAB;
}

/* Posts
============================================================ */
.post p {
  margin: 0 0 1.75em 0;
  line-height: 2rem;
}

.post *:last-child {
  margin-bottom: 0;
}

/* Wordpress Block Images
============================================================ */
.wp-block-image {
  margin: 1em 0;
  text-align: center;
}

.wp-block-image img {
  height: 100%;
}

/* Accordions
============================================================ */
.content-accordion {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 0.25em;
  margin: 3em auto 0 auto;
}

.accordion-title {
  margin: 0;
  font-size: 1.5rem;
  line-height: 2rem;
}

.accordion-title a {
  background: #2994ff;
  display: block;
  padding: 0.75em 3em 0.75em 1em;
  position: relative;
  text-decoration: none;
  color: #fff;
}

.accordion-title a:hover, .accordion-title a:focus {
  text-decoration: none;
}

.accordion-title a:after {
  content: "\f0fe";
  display: inline-block;
  position: absolute;
  right: 1.5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2rem;
  color: #fff;
}

.accordion-title a.expanded:after {
  content: '\f146';
}

.accordion-content {
  display: none;
  padding: 1em;
}

.accordion-content.show {
  display: block;
}

.accordion-content p code {
  color: #7ec699;
}
/*# sourceMappingURL=style.css.map */