    <script type="text/javascript" src="//kit.fontawesome.com/9a167720af.js?ver=1.0" id="font-awesome-js"></script>
    <script type="text/javascript" src="{{ '/js/scripts.js' | url }}"></script>
  </body>
</html>