{% include "inc-site-head.njk" %}
{% include "inc-site-header.njk" %}
<main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
  {{ content | safe }}
</main>
{% include "inc-site-footer.njk" %}
{% include "inc-site-foot.njk" %}