<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-diff.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
  </head>
  <body>
    <header class="site-header" id="header">
      <div class="site-logo">
        <h1 class="logo"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>
      </div>

      <nav class="site-nav">
        <ul>
          {%- for entry in collections.all | eleventyNavigation %}
          <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
          {%- endfor %}
        </ul>
      </nav>
    </header>

    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>
      <p class="copyright">© 2022 - Alex Winter</p>

      <ul class="social">
        <li>
          <a class="instagram" aria-label="Instagram" href="https://www.instagram.com/alx.wntr/" target="_blank" rel="noopener">
            <span class="fab fa-instagram-square" aria-hidden="true"></span>
          </a>
        </li>
        <li>
          <a class="facebook" aria-label="Facebook" href="https://www.facebook.com/alexwinter" target="_blank" rel="noopener">
            <span class="fab fa-facebook-square" aria-hidden="true"></span>
          </a>
        </li>
        <li>
          <a class="lastfm" aria-label="Last.fm" href="https://www.last.fm/user/aydoubleyou" target="_blank" rel="noopener">
            <span class="fab fa-lastfm-square" aria-hidden="true"></span>
          </a>
        </li>
		  </ul>
    </footer>
  </body>
</html>
